{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">Member Login</div>
    <div class="card-body">
        <form id="form-data">
            <div class="form-group">
                <label>Username</label>
                {% raw xsrf_form_html() %}
                <input type="text" class="form-control form-width" name="name" placeholder="Please enter the username">
                <p class="text-danger" id="error-name"></p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-width" name="pwd" placeholder="Please enter the password">
                <p class="text-danger" id="error-pwd"></p>
            </div>
            <div class="form-group">
                <a href="javascript:void(0);" id="btn-sub" class="btn btn-primary">Login</a>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block foot %}
<script>
    $(document).ready(function () {
        request('/login/', '/userprofile/', ['name', 'pwd'], "Log in successfully!");
    });
</script>
{% end %}