{% extends "layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">User Registration</div>
    <div class="card-body">
        <form id="form-data">
            <div class="form-group">
                <label>Username</label>
                {% raw xsrf_form_html() %}
                <input type="text" class="form-control form-width" name="name" placeholder="Please enter the username">
                <p class="text-danger" id="error-name"></p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-width" name="pwd" placeholder="Please enter the password">
                <p class="text-danger" id="error-pwd"></p>
            </div>
            <div class="form-group">
                <label>Password Confirmation</label>
                <input type="password" class="form-control form-width" name="conpwd" placeholder="Please re-enter the password">
                <p class="text-danger" id="error-conpwd"></p>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control form-width" name="email" placeholder="Please enter the email">
                <p class="text-danger" id="error-email"></p>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control form-width" name="phone" placeholder="Please enter the phone number">
                <p class="text-danger" id="error-phone"></p>
            </div>
            <div class="form-group">
                <a href="javascript:void(0);" id="btn-sub" class="btn btn-primary">Register</a>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block foot %}
<script>
    $(document).ready(function () {
        request('/register/', '/login/', ['name', 'pwd', 'conpwd', 'email', 'phone'], 'Registration is successful!');
    });
</script>
{% end %}