{% extends "layout.html" %}

{% block content %}
            <div class="card">
                <div class="card-header">
                    Personal Information
                </div>
                <div class="card-body">
                    <form id="form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    {% raw xsrf_form_html() %}
                                    <input type="hidden" name="id" value="{{data['user'].id}}">
                                    <input type="text" class="form-control" name="name" value="{{data['user'].name}}" placeholder="Please enter your name！">
                                    <p class="text-danger" id="error_name"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="{{data['user'].email}}" placeholder="Please enter your email！">
                                    <p class="text-danger" id="error_email"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" name="phone" value="{{data['user'].phone}}" placeholder="Please enter your phone number！">
                            <p class="text-danger" id="error_phone"></p>
                        </div>
                        <div class="form-group">
                            <label>Sex</label>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input_sex1" name="sex" value="1"
                                       class="custom-control-input" {% if data['user'].sex == 1 %}checked{% end %}>
                                <label class="custom-control-label" for="input_sex1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input_sex2" name="sex" value="2"
                                       class="custom-control-input" {% if data['user'].sex == 2 %}checked{% end %}>
                                <label class="custom-control-label" for="input_sex2">Female</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input_sex3" name="sex" value="3"
                                       class="custom-control-input" {% if data['user'].sex == 3 %}checked{% end %}>
                                <label class="custom-control-label" for="input_sex3">Other</label>
                            </div>
                            <p class="text-danger" id="error_sex"></p>
                        </div>
                        <!--表单字段的容器标签-->
                        <div class="form-group">
                            <!--标签名称-->
                            <label>星座</label>
                            <div class="row">
                                <!--每一行原本12等分，现在我们分成6等分，每一分占2个栅格-->
                                {% for v in handler.common_data['zodiac'] %}
                                <div class="col-md-2 text-left">
                                    <img src="{{static_url('zodiac/'+v['image'])}}"
                                         class="lazyload blur-up img-fluid zodiac-img border border-info rounded">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"
                                               id="input_zodiac{{v['val']}}"
                                               class="custom-control-input"
                                               value="{{v['val']}}"
                                               name="zodiac" {% if data['user'].zodiac == v['val'] %}checked{% end %}>
                                        <label class="custom-control-label" for="input_zodiac{{v['val']}}">{{v['name']}}</label>
                                    </div>
                                    <p class="zodiac-date text-left">{{v['birth']}}</p>
                                </div>
                                {% end %}

                            </div>
                            <p class="text-danger" id="error_zodiac"></p>
                        </div>
                        <div class="form-group">
                            <label>Bio</label>
                            <textarea class="form-control" name="bio"
                                      placeholder="Please enter your bio！"
                                      rows="5"
                            >{% if data['user'].bio %} {{data['user'].bio}} {% end %}</textarea>
                            <p class="text-danger" id="error_bio"></p>
                        </div>
                        <div class="form-group">
                            <label for="input_avatar">Avatar</label>
                            <input type="file" class="form-control-file" id="file_avatar">
                            <input type="hidden" name="avatar" value="{% if data['user'].avatar %}{{ data['user'].avatar }}{% end %}" id="input_avatar">
                            <hr class="hr-dv">
                            <div id="image_avatar">
                                {% if data['user'].avatar %}
                                <img src="/static/uploads/{{data['user'].avatar}}" style="width: 200px; height: 200px;">
                                {% else %}
                                <img data-src="holder.js/200x200">
                                {% end %}
                            </div>
                            <hr class="hr-dv">
                            <a class="btn btn-bio" id="upload_avatar" href="javascript:void(0)">Upload Avatar</a>
                            <p class="text-danger" id="error_avatar"></p>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" href="javascript:void(0)" id="btn-sub">Save</a>
                        </div>
                    </form>
                </div>
            </div>
{% end %}

{% block foot %}
<script src="{{ static_url('js/upload.js')}}"></script>
<script>
    $(document).ready(function(){
        upload('avatar', 200, 200, "/upload/");
        request("/userprofile/", "/logout/", ["id","name","email","phone","avatar","bio"], "Changes are successful!")
    });
</script>
{% end %}